@page "/"
@inject IJSRuntime Runtime

<button class="btn btn-primary" @onclick="Clicked">Generate</button>
<input type="number" class="form-control" placeholder="Latitude" @bind-value="latitude"/>
<input type="number" class="form-control" placeholder="Longitude" @bind-value="longitude" />

@code
{
    double latitude = 10;
    double longitude = -10;
    private IJSInProcessRuntime jSInProcess;

    protected override void OnInitialized()
    {
        jSInProcess = (IJSInProcessRuntime)Runtime;
    }
     void AddCircle(GeoQuery.GeoPoint point, int radius, string color = "green", string color2 = "green")
    {
        jSInProcess.InvokeVoid("addCircle", point.Latitude, point.Longitude, radius, color, color2);
    }

    void Clicked()
    {
        GeoQuery.GeoPoint point = new GeoQuery.GeoPoint(latitude, longitude);
        AddCircle(point, 1000,"red","red");
        var pts = GeoQuery.HashQuery.GetNearbyHashes(point, 1000, 8, true, 8, 1);
        foreach (var pt in pts)
        {
            var points = GeoQuery.GeoHash.Decode(pt);
            var dim = GeoQuery.Core.GeoBlockSize.BlockSize[pt.Length];
            AddCircle(points, (int)dim.Width);
        }
    }
}